@model PennyWyse.Models.UserEvent

@{
    ViewData["Title"] = "Edit";
    string searchId = Context.Request.Query["searchId"].ToString();
}

<h1>Edit</h1>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EventId" />
            <div class="form-group">
                <label asp-for="Event.Name" class="control-label"></label>
                <input asp-for="Event.Name" class="form-control" />
                <span asp-validation-for="Event.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.Price" class="control-label"></label>
                <input asp-for="Event.Price" class="form-control" />
                <span asp-validation-for="Event.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.StartDate" class="control-label"></label>
                <input asp-for="Event.StartDate" class="form-control" />
                <span asp-validation-for="Event.StartDate" class="text-danger"></span>
            </div>
         
            <div class="form-group">
                <label asp-for="Event.Description" class="control-label"></label>
                <input asp-for="Event.Description" class="form-control" />
                <span asp-validation-for="Event.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.InfoURL" class="control-label"></label>
                <input asp-for="Event.InfoURL" class="form-control" />
                <span asp-validation-for="Event.InfoURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.ImageURL" class="control-label"></label>
                <input asp-for="Event.ImageURL" class="form-control" />
                <span asp-validation-for="Event.ImageURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.City" class="control-label"></label>
                <input asp-for="Event.City" class="form-control" />
                <span asp-validation-for="Event.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.State" class="control-label"></label>
                <input asp-for="Event.State" class="form-control" />
                <span asp-validation-for="Event.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.EventType" class="control-label"></label>
                <input asp-for="Event.EventType" class="form-control" />
                <span asp-validation-for="Event.EventType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index" asp-route-searchId="@searchId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
