@{
    ViewData["Title"] = "Home Page";
}

<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="font-weight-light">How much?</h1>
                
                <!--Input box for the dollar amount-->
                <form asp-action="Index" method="get">
                    <div class="form-actions no-color">
                        <p>
                            <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                            <input type="submit" value="Search" class="btn btn-default" /> 
                            @*<a asp-action="Index">Back to Full List</a>*@
                        </p>
                    </div>
                </form>
            </div>
        </div>
        </div>
</header>

<!-- Page Content -->
<section class="py-5">
    <div class="container">
        <h2 class="font-weight-light">What is this?</h2>
        <p> PennyWyse is an app that focuses on the bottom dollar. Only enter the amount that you would want to spend.</p>
    </div>
</section>
    
    

