@model PennyWyse.Models.ViewModels.HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
    //string searchId = Context.Request.Query["searchId"].ToString();
}

<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="font-weight-light">How much?</h1>
       
                @*This is the input field for the search bar.*@
                <form method="get">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input type="number" asp-for="@Model.PriceSearch" name ="searchId" class="form-control"/>
                        <span asp-validation-for="@Model.PriceSearch" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="button">
                            <input class="btnText" Value="Ready?"/>
                            <div class="btnTwo">
                                <input asp-controller="Events" asp-action="Index" asp-route-searchId="@Model.PriceSearch" type="submit" value="GO!" class="btnText2"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>   
        </div>
</header>

<!-- Page Content -->
<section class="py-5">
    <div class="container">
        <h2 class="font-weight-light">What is this?</h2>
        <p> PennyWyse is an app that focuses on the bottom dollar. Only enter the amount that you would want to spend.</p>
    </div>
</section>
    
    

