/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
  font: greenyellow;
   
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/*JD's past this point
    -------------------------------------------------------
*/

/*

    Login Form
    ==================
*/



.welcome{
    text-align:center;
    font-family:Roboto;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    /*Set the back ground color here*/
    color:whitesmoke;
    background-image: linear-gradient(grey, black);
    background-position: center;
    background-size: cover;

    
}
.formContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 15%;
    background-color: black;
    box-shadow: 2px 2px 4px gray;
    padding-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 21px;
}
.emailInput, 
.passwordInput{ 
    display: block;
    background: grey;
    padding: 0.175rem 0.175rem 0.0875rem;
    font-size: 1.4rem;
    border-width: 0;
    border-color: transparent;
    line-height: 1.9;
    width: 100%;
    color: #ccc;
    transition: all 0.43s ease;
    box-shadow: none;
    border-bottom:2px solid gray;
    font-family:Roboto;
}
#account {
    justify-content:center;
    width:200%;
    margin-left:-100px;
}
.logInButton {
    margin: 0 auto;
    width: 50%;
    background-color: black;
    border: 0;
    padding: 10px 0 10px 0;
    font-family: Roboto;
    font-size: 20px;
}
.regButton {
    padding: 10px 0 10px 0;
    width: 50%;
    background-color: #3C3B45;
    border: 0;
    font-family: Roboto;
    font-size:20px;
}
.regButton > a {
    text-decoration: none;
    color: white;
}
.headTitle {
    color: #3C3B45;
}
.Forgot > a {
    text-decoration: none;
    color: #3C3B45;
}
/*

    Landing page
    ==================
*/
.masthead {
    height: 85vh;
    min-height: 500px;
    /*background-image: url('https://backgroundtown.com/content/images/thumbs/0002610_classic-texture-dark-cool-gray.jpeg');*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navLogo {
    max-width: 5%;
    height: auto;
    border-radius: 12px;
}


/*Search button details*/


#holder{
    -moz-user-select: -moz-none;
    -html-user-select: none;
    -webkit-user-select: none;
    background: transparent;
    padding: 10px;
    width: 250px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-65%);
    box-shadow: 0px 3px 8px rgba(0,0,0,0.25);
    border-radius: 2px;
}
.button {
    background: transparent;
    margin : 20px auto;
    width : 200px;
    height : 50px;
    overflow: hidden;
    text-align : center;
    transition : .2s;
    cursor : pointer;
    border-radius: 12px;
    /*box-shadow: 0px 1px 2px rgba(0,0,0,.2);*/
}
.btnTwo {
    position : relative;
    width : 200px;
    height : 100px;
    margin-top: -100px;
    padding-top: 2px;
    background : #26A69A;
    left : -250px;
    transition : .3s;
    border-radius: 12px;
}
.btnText {
    color: black;
    transition: .3s;
    border-radius: 12px;
    border-color: transparent;
    margin-left: 100px;
}
.btnText2 {
    background: transparent;
    margin-top: 69px;
    margin-right: -150px;
    color: whitesmoke;
    border-radius: 12px;
    border-color: transparent;
}
.button:hover .btnTwo{ /*When hovering over .button change .btnTwo*/
    left: -100px;
}
.button:hover .btnText{ /*When hovering over .button change .btnText*/
    margin-left : 90px;
}
.button:active { /*Clicked and held*/
    box-shadow: 0px 5px 6px rgba(0,0,0,0.3);
}


.navbar{

    background-color: black !important;

}

.logoImage{

    height: 50px !important;
    width: 50px !important;
    border-radius: 12px;

}