@page
@model LoginModel

@{
    ViewData["Title"] = "PennyWyse";
}
<div class="backgroundContainer center-homePage">
   
    <div id="LogInContainer">
        <div class="row formContainer">
            <div class="col-md-4">
                <section>
                    <form id="account" method="post">
                        <h4 class="welcome">Welcome to PennyWyse!</h4>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">

                            <input asp-for="Input.Email" class="form-control emailInput" placeholder="Email" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div> 
                        <div class="form-group">

                            <input asp-for="Input.Password" class="form-control passwordInput" placeholder="Password" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary logInButton">Log in</button>
                            <button class="btn btn-primary regButton"><a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a></button>

                        </div>
                        <div class="form-group">
                            <p class="Forgot">
                                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                            </p>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}